<mat-card class="manageContainer">

    <div class="manage">

        <div *ngFor="let role of role_permission">
            <div class="card" [routerLink]="['/employee/todayleadflow']"
                *ngIf="role.PermissionName == 'Lead Management'">
                <div>
                    <h3>Today Followup </h3>
                    <p>{{dashboard_data?.TodayFollowup}}</p>
                </div>
                <div>
                    <img src="../../../assets/icons/approved.png" alt="" width="60px" height="60px">
                </div>
            </div>

        </div>

        <div class="card" [routerLink]="['/employee/levaeadd']">
            <div>
                <h3>Total Assigned Leave</h3>
                <p>{{dashboard_data?.TotalLeave}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/totalempleave.png" width="60px" height="60px">
            </div>
        </div>

        <div class="card">
            <div>
                <h3>Total Assigned Project</h3>
                <p>{{dashboard_data?.TotalAssignProject}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/assigntask.png" alt="" width="60px" height="60px">
            </div>
        </div>




        <div class="card">
            <div>
                <h3>completed task</h3>
                <p>{{dashboard_data?.TotalComplete}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/completedtask.png" alt="" width="60px" height="60px">
            </div>
        </div>

        <div class="card">
            <div>
                <h3>Pending Task</h3>
                <p>{{dashboard_data?.TotalPenginTask}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/pendingtask.png" alt="" width="60px" height="60px">
            </div>
        </div>

    </div>
</mat-card>