<div class="container">
    <mat-toolbar>
        <button mat-icon-button (click)="onBack()">
            <img src="../../../assets/icons/back.png" alt="" width="30">
        </button>
        <div>
            <span>Client Update</span>
        </div>
        <button mat-icon-button></button>

    </mat-toolbar>
    <div id="wrapper">
        <form [formGroup]="addClient">
            <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Enter company name" formControlName="CompanyName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contact Person Name</mat-label>
                <input matInput placeholder="Enter contact person" formControlName="ContactPerson">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Designation</mat-label>
                <input matInput placeholder="Enter designation" formControlName="Designation">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contact No</mat-label>
                <input matInput placeholder="Enter contact no" formControlName="ContactNo" maxlength="10">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-mail Id</mat-label>
                <input matInput placeholder="Enter email id" formControlName="EmailId">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Pin Code</mat-label>
                <input matInput placeholder="Enter pin code" formControlName="Pincode">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>GST No</mat-label>
                <input matInput placeholder="Enter gst no" formControlName="GSTNo">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>PAN No</mat-label>
                <input matInput placeholder="Enter pan no" formControlName="PanNo">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <mat-select formControlName="State" (selectionChange)="get_city($event.value)">
                    <mat-option *ngFor="let state of state_data"
                        [value]="state.Id">{{state.State_Name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select  formControlName="City"  (selectionChange)="getCityData($event.value)">
                    <mat-option *ngFor="let city of city_data" [value]="city.Id">{{city.City_Name}}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter address" formControlName="Address">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>State Code</mat-label>
                <input matInput placeholder="Enter state code" formControlName="Statecode">
            </mat-form-field>

            <div class="submit">
                <button mat-raised-button color="primary" (click)="onAdd()">Update</button>
            </div>
        </form>
    </div>
</div>