<mat-toolbar>
    <div class="toobarchild1">Lead List </div>
    <div class="toobarchild2">
        <form>
            <label for="search">Search</label>
            <input style="z-index: 2;" required="" pattern=".*\S.*" type="search" class="input" id="search" #search
                (keyup)="OnSearch(search.value)">
            <span class="caret"></span>
        </form>
    </div>

    <div class="toobarchild3">
        <button (click)="OnAdd()" style="z-index: 1;" mat-icon-button><mat-icon
                style="font-size: 30px;">person_add</mat-icon>
        </button>
    </div>
</mat-toolbar>



<div id="containerBox">
    <div class="container" routerLink="/admin/leadadd" *ngFor="let lead of lead_data" (click)="onUpdate(lead)">
        <div class="dataRow">
            <ul>

                <li>
                    <img src="../../../assets/icons/company.png" alt="" width="30">
                    <span style="font-weight: bold;">{{lead.ClientName}}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/person.png" alt="" width="30">
                    <span>{{lead.ContectPerson}}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/phone.png" alt="" width="30">
                    <span>{{lead.MobileNo}}</span>
                </li>

                <li>
                    <img src="../../../assets/icons/location.png" alt="" width="30">
                    <span>{{lead.Address}}</span>
                </li>

                <li>
                    <img src="../../../assets/icons/category.png" alt="" width="30">
                    <span *ngIf="lead.LeadType == 'Hot'"
                        style="color:darkred; font-weight: bold;">{{lead.LeadType}}</span>
                    <span *ngIf="lead.LeadType != 'Hot'" style="color: darkgreen; font-weight: bold;">Cold</span>
                    &nbsp; &nbsp; Status : {{lead.LeadStatus}}
                </li>
            </ul>
        </div>
    </div>
</div>