
<mat-toolbar>
    <div class="toobarchild1">Client List </div>
    <div class="toobarchild2">
        <form>
            <label for="search">Search</label>
            <input style="z-index: 2;" required="" pattern=".*\S.*" type="search" class="input" id="search" #search
                (keyup)="OnSearch(search.value)">
            <span class="caret"></span>
        </form>
    </div>

    <div class="toobarchild3">
        <button (click)="OnAdd()" style="z-index: 1;" mat-icon-button><mat-icon
                style="font-size: 30px;">person_add</mat-icon>
        </button>
    </div>
</mat-toolbar>



<div id="containerBox">
    <div class="container" routerLink="/admin/leadadd" *ngFor="let client of client_data" (click)="OnUpdate(client)">
        <div class="dataRow">
            <ul>
                <li>
                    <img src="../../../assets/icons/company.png" alt="" width="30">
                    <span style="font-weight: bold;">{{client.CompanyName | titlecase }}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/person.png" alt="" width="30">
                    <span>{{client.ContactPerson | titlecase}}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/phone.png" alt="" width="30">
                    <span>{{client.ContactNo}}</span>
                </li>
               
                <li *ngIf="client.Address">
                    <img src="../../../assets/icons/location.png" alt="" width="30">
                    <span>{{client.Address }}</span>
                </li>
               
            </ul>
        </div>
    </div>
</div>
