<div class="container">
    <div id="up">
        <mat-toolbar>
            <button mat-icon-button routerLink="/admin/leadlist">
                <img src="../../../assets/icons/back.png" alt="" width="30">
            </button>
            <div>
                <span>Lead Flow Up</span>
            </div>
            <button mat-icon-button></button>
        </mat-toolbar>
      
    </div>

    <div id="down">
        <table>
            <thead>
                <tr>
                    <th colspan="4">Lead Flow Up</th>
                </tr>
                <tr>
                    <th>Response</th>
                    <th>Date</th>
                    <th>Next Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flowup of flowupdata">
                    <td>{{ flowup.response }}</td>
                    <td>{{ flowup.followUp_Date }}</td>
                    <td>{{ flowup.nextfollow_up_date }}</td>
                    <td>{{ flowup.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>