.container {
    width: 100%;
    padding: 20px;
}

mat-toolbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

mat-toolbar>div {
    width: 100%;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.submit {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}