<!-- <div id="wrapper">
    <mat-toolbar color="primary">

    </mat-toolbar>

    <mat-form-field appearance="outline">
        <mat-label>Assign to</mat-label>
        <mat-select formControlName="ReportingManager"  (valueChange)="ValueGet($event)"> 
            <mat-option *ngFor="let manager of ReportingManager"
                [value]="manager">{{manager.UserName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    <br>
    <button mat-raised-button color="primary" (click)="OnSubmit()">Submit</button>
</div> -->


<mat-toolbar><span>Launch </span><button mat-icon-button color="warn"
        (click)="onClose()"><mat-icon>cancel</mat-icon></button> </mat-toolbar>
<div id="wrapper">
    <form >
        <input type="text" formControlName="id" readonly hidden>
        <span>
            <mat-form-field appearance="outline">
                <mat-label>Assign to</mat-label>
                <mat-select  (valueChange)="ValueGet($event)">
                    <mat-option *ngFor="let manager of ReportingManager"
                        [value]="manager">{{manager.UserName}}</mat-option>
                </mat-select>
            </mat-form-field>

           
            <button (click)="OnSubmit()" mat-raised-button color="warn" style="width:80%;">Launch</button>
        </span>
    </form>
</div>