<mat-toolbar>
    <div class="toobarchild1">Employee List </div>
    <div class="toobarchild2">
        <form>
            <label for="search">Search</label>
            <input style="z-index: 2;" required="" pattern=".*\S.*" type="search" class="input" id="search" #search
                (keyup)="empSearch(search.value)">
            <span class="caret"></span>
        </form>
    </div>

    <div class="toobarchild3">
        <button (click)="AddEmp()" style="z-index: 1;" mat-icon-button><mat-icon
                style="font-size: 30px;">person_add</mat-icon>
        </button>
    </div>
</mat-toolbar>



<div id="containerBox">
    <div class="container" routerLink="/admin/leadadd" *ngFor="let staff of get_emp" (click)="viewDetails(staff)">

        <div class="imgRow">
            <img id="profile_pic" [src]="staff.ImagePath != '' ? base_url+staff.ImagePath :profile_img" width="80px"
                height="80px" style="border-radius: 100%;">
        </div>
        <div class="dataRow">
            <ul>
                <li>
                    <img src="../../../assets/icons/person.png" alt="" width="30">
                    <span style="font-weight: bold;">{{staff.EmployeeName | titlecase}}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/description.png" alt="" width="30">
                    <span>{{staff.Designation | titlecase }}</span>
                </li>

                <li>
                    <img src="../../../assets/icons/phone.png" alt="" width="30">
                    <span>{{staff.Mobile | titlecase}}</span>
                </li>

            </ul>
        </div>
    </div>
</div>