<mat-card class="manageContainer">

    <div class="manage">
        <div class="card" [routerLink]="['/admin/clientlist']">
            <div>
                <h3>Total Client</h3>
                <p>{{dashboard_data?.TotalClient}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/client.png" alt="" width="60px" height="60px">
            </div>
        </div>



        <div class="card" [routerLink]="['/admin/emplist']">
            <div>
                <h3>Total Employee</h3>
                <p>{{dashboard_data?.TotalEmp}}</p>
            </div>

            <div>
                <img src="../../../assets/icons/totalemp.png" alt="" width="60px" height="60px">
            </div>
        </div>
        <div class="card" [routerLink]="['/admin/todayleave']">
            <div>
                <h3>Total Leave Today</h3>
                <p>{{dashboard_data?.TodayLeave}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/totalempleave.png" alt="" width="60px" height="60px">
            </div>
        </div>

        <div class="card" routerLink="/home/employeelist">
            <div>
                <h3>Runing Project</h3>
                <p>{{dashboard_data?.TotalProject}}</p>
            </div>
            <div>
                <img src="../../../assets/icons/projects.png" width="60px" height="60px">
            </div> 
        </div>




        <br>
        <br>
    </div>
</mat-card>