#wrapper{
    width: 100%;
    height: auto;
    background-color: #fff;
}



 mat-form-field{
    width: 90%;
    margin-left: 5%;
}



/* for table   */

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
  }
  
  thead tr:first-child th {
    background-color: #ddd;
    font-size: 1.2em;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  

  /* for card  */

  .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 30px;
    width: 30px;
    overflow: hidden;
  }
  
  #containerBox {
    width: 100%;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    overflow: scroll;
  }
  
  
  .container {
    width: 100%;
    height: auto;
    background-color: var(--color-2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
  }
  
  .dataRow>ul>li {
    list-style: none;
    padding: 10px;
    font-weight: 500;
    text-wrap: nowrap;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .dataRow {
    width: 100%;
  }
  
  .dataRow>ul>li>span {
    padding: 10px;
    font-weight: 400;
  }
  
  .dataRow>ul>li>img {
    vertical-align: middle;
  }
  
  