<div id="containerBox">
    <div class="container">
        <div class="dataRow">
            <ul>
                <li>
                    <img src="../../../assets/icons/company.png" alt="" width="30">
                    <span style="font-weight: bold;">{{lead.ClientName}}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/person.png" alt="" width="30">
                    <span>{{lead.ContectPerson}}</span>
                </li>
                <li>
                    <img src="../../../assets/icons/phone.png" alt="" width="30">
                    <span>{{lead.MobileNo}}</span>
                </li>
                <li *ngIf="lead.ClientEmail">
                    <img src="../../../assets/icons/gmail.png" alt="" width="30">
                    <span>{{lead.ClientEmail}}</span>
                </li>

                <li>
                    <img src="../../../assets/icons/location.png" alt="" width="30">
                    <span>{{lead.Address}}</span>
                </li>

                <li>
                    <img src="../../../assets/icons/category.png" alt="" width="30">
                    <span *ngIf="lead.LeadType == 'Hot'"
                        style="color:darkred; font-weight: bold;">{{lead.LeadType}}</span>
                    <span *ngIf="lead.LeadType != 'Hot'" style="color: darkgreen; font-weight: bold;">Cold</span>
                    &nbsp; &nbsp; Status : {{lead.LeadStatus}}
                </li>

                <li *ngIf="lead.Service">
                    <span> <b>Service</b> : {{lead.Service}}</span>
                </li>

                <li *ngIf="lead.AssignBy">
                    <span> <b>Assign By</b> : {{lead.AssignBy}}</span>
                </li>

                <li *ngIf="lead.AssignTo">
                    <span><b>Assign To</b> : {{lead.AssignTo}}</span>
                </li>
                <li *ngIf="lead.AssignDate">
                    <span><b>Assign Date</b> : {{lead.AssignDate}}</span>
                </li>
                <li *ngIf="lead.created_date">
                    <span><b>Created Date</b> : {{lead.created_date}}</span>
                </li>
                <li *ngIf="lead.LeadDescription">
                    <span> <b>Description</b> : {{lead.LeadDescription}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>